@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;

    .container {
        .row {
            .col_one {
                .mobile {
                    display: none;
                }

                .icon_div {
                    font-size: 40px;
                    color: #FFFFFF;

                }

                .icon_div::before {
                    content: '\f0c9';
                    font-family: 'FontAwesome';
                }

                .active::before {
                    content: '\f00d';
                    font-family: 'FontAwesome';
                }
            }

            .header_nav {
                ul {
                    li {
                        a {
                            text-decoration: none;
                            font-family: 'Poppins', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.03em;
                            color: #FFFFFF;
                            padding: 15px;
                        }
                    }
                }
            }

            .col-4 {
                button {
                    width: 128px;
                    height: 44px;
                    left: 1045px;
                    top: 4.5px;
                    background: #FF3839;
                    border-radius: 5px;
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                    border: none;
                    margin-left: 45px;
                    cursor: pointer;
                }
            }
        }
    }
}

body {
    background-color: black;
    overflow-y: hidden;
}

section {
    background-image: url('../img/graphic-designers-meeting.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;

    .container {
        .row {
            .col-12 {

                .overphoto {
                    padding-top: 100px;

                    hr {
                        margin: auto;
                        width: 300px;
                        border: 1px solid red;
                        margin-top: 15px;
                    }

                    .p1 {
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;

                        span {
                            color: red;
                        }
                    }

                    .p2 {
                        width: 600px;
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 128.5%;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                        margin: auto;
                        margin-top: 10px;
                    }

                    .p3 {
                        width: 800px;
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                        margin: auto;
                        margin-top: 20px;
                    }
                }

                .buttons {
                    margin-top: 20px;

                    a {
                        text-decoration: none;
                    }

                    .btn1 {
                        width: 150px;
                        background: #FF3839;
                        border-radius: 5px;
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                        padding: 5px;
                        border: none;
                        cursor: pointer;
                    }

                    .btn2 {
                        width: 150px;
                        background: #FFFFFF;
                        border-radius: 5px;
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #202020;
                        padding: 5px;
                        border: none;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:1200px) {
    section {
        background-image: 100%;
    }

    .mobile {
        // display: none;
        width: 950px;
        height: 170px;
        border: 2px solid white;
        animation-name: bars;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        position: absolute;
        bottom: -350px;

    }

    .active {
        display: block !important;
    }


    @keyframes bars {
        from {
            bottom: -350px;
        }

        to {
            bottom: 0px;
            right: 0px;
        }
    }

    .mobile {
        background-color: black;
        ul {
            li {
                margin: 35px;
            
                a {
                    text-decoration: none;
                    color: yellowgreen;
                    font-size: 25px;
                }
            }
        }
    }
}